:root{
  --bg: #f6f2e7;
  --ink: #111111;
  --accent: hsl(11, 74%, 54%);
}
html {
  margin:0;
  width: 100vw;
  height: 100vh;
}
.accent {
  color: var(--accent);
}
html,body{ height:100%; }
body{
  margin: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--bg);
  color: var(--ink);
  align-items: center;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
  font-weight: 600;
}

a, p, h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  color: var(--ink);
  font-size: 1rem;
  display: block;
  margin: 0;
  line-height: 1.5rem;

}
h1 {
  font-size: 0.75rem;
  font-weight: 700;
}
a {
  line-height: 1.5rem;
  align-items: baseline;
  font-size: 1rem;
  color: var(--ink);
  text-transform: none;
  letter-spacing: normal;
}